#include "..\Headers\BSR_APP_WIN_Resources.hpp"



#include "..\Headers\BSR_APP_WIN_WinTargetVer.hpp"
#include <Windows.h>



BSR_APP_WIN_IDI_MAIN_ICON ICON L".\\Icons\\BSR_APP_WIN_MainIcon.ico"



BSR_APP_WIN_IDM_MAIN_MANIFEST RT_MANIFEST L".\\Manifests\\BSR_APP_WIN_MainManifest.manifest"



#include "BSR_APP_WIN_EnglishUS.rc2"
